<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
		<div class="container">
			<h1>w3b cr4wl3r</h1>
			<form method="post">
				<input type="text" name="url" placeholder="Enter a URL here">
			</form>
			<div class="results">
				<p><%= message %></p>
			</div>
		</div>
	</body>
</html>